@import "tailwindcss";

*{
    box-sizing: border-box;
}


@font-face {
    font-family: monts-light;
    src: url(./assets/Fonts/Montserrat-Light.woff2);
}

@font-face {
    font-family: monts-regular;
    src: url(./assets/Fonts/Montserrat-Regular.woff2);
}

@font-face {
    font-family: monts-medium;
    src: url(./assets/Fonts/Montserrat-Medium.woff2);
}

@font-face {
    font-family: monts-semi-bold;
    src: url(./assets/Fonts/Montserrat-SemiBold.woff2);
}

@font-face {
    font-family: monts-bold;
    src: url(./assets/Fonts/Montserrat-Bold.woff2);
}

@font-face {
    font-family: monts-extra-bold;
    src: url(./assets/Fonts/Montserrat-ExtraBold.woff2);
}

@font-face {
    font-family: merienda-medium;
    src: url(./assets/Fonts/Merienda-Medium.woff2);
}

@font-face {
    font-family: merienda-semi-bold;
    src: url(./assets/Fonts/Merienda-SemiBold.woff2);
}

@font-face {
    font-family: merienda-bold;
    src: url(./assets/Fonts/Merienda-Bold.woff2);
}



@theme {
    --font-monts-light: "monts-light";
    --font-monts-regular: "monts-regular";
    --font-monts-medium: "monts-medium";
    --font-monts-semi-bold: "monts-semi-bold";
    --font-monts-bold: "monts-bold";
    --font-monts-extra-bold: "monts-extra-bold";
    --font-merienda-medium: "merienda-medium";
    --font-merienda-semi-bold: "merienda-semi-bold";
    --font-merienda-bold: "merienda-bold";

    --color-black-text: #101828;
    --color-border-gray: #e5e7eb;

    --breakpoint-xs: 530px;
}


::-webkit-scrollbar{
    width: 4px;
    height: 3px;
    background-color: white;
}

::-webkit-scrollbar-thumb{
    background-color: #ff8904;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #ff6900;
}


/* hero pagination bullets */
.custom-bullet {
  width: 10px !important;
  height: 10px !important;
  background-color: white !important;
  margin-bottom: 10px !important;
}

.swiper-pagination-bullet-active.custom-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: white !important;
}


.text-outline {
  -webkit-text-stroke: 1px black;
}



@keyframes gradient-x {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 4s ease infinite;
}


@keyframes shimmer {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(300%);
  }
}

.animate-shimmer {
  position: absolute;
  width: 40%;
  height: 100%;
  animation: shimmer 2s infinite linear;
}