@import "tailwindcss";

*{
    box-sizing: border-box;
}


@font-face {
    font-family: monts-light;
    src: url(./assets/Fonts/Montserrat-Light.woff2);
}

@font-face {
    font-family: monts-regular;
    src: url(./assets/Fonts/Montserrat-Regular.woff2);
}

@font-face {
    font-family: monts-medium;
    src: url(./assets/Fonts/Montserrat-Medium.woff2);
}

@font-face {
    font-family: monts-semi-bold;
    src: url(./assets/Fonts/Montserrat-SemiBold.woff2);
}

@font-face {
    font-family: monts-bold;
    src: url(./assets/Fonts/Montserrat-Bold.woff2);
}

@font-face {
    font-family: monts-extra-bold;
    src: url(./assets/Fonts/Montserrat-ExtraBold.woff2);
}

@font-face {
    font-family: merienda-medium;
    src: url(./assets/Fonts/Merienda-Medium.woff2);
}

@font-face {
    font-family: merienda-semi-bold;
    src: url(./assets/Fonts/Merienda-SemiBold.woff2);
}

@font-face {
    font-family: merienda-bold;
    src: url(./assets/Fonts/Merienda-Bold.woff2);
}



@theme {
    --font-monts-light: "monts-light";
    --font-monts-regular: "monts-regular";
    --font-monts-medium: "monts-medium";
    --font-monts-semi-bold: "monts-semi-bold";
    --font-monts-bold: "monts-bold";
    --font-monts-extra-bold: "monts-extra-bold";
    --font-merienda-medium: "merienda-medium";
    --font-merienda-semi-bold: "merienda-semi-bold";
    --font-merienda-bold: "merienda-bold";

    --color-black-text: #2b2726;

    --breakpoint-xs: '530px';
}


::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background-color: white;
}

::-webkit-scrollbar-thumb{
    background-color: #ff8904;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #ff6900;
}